**EDA**

In [1]:
#Importamos las librerias pertinentes

import pandas as pd
import numpy as np
import fastparquet 

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Importamos los csv creados en el ETL

movies_score = pd.read_csv('../Datasets/score_movies.csv')
plataformas = pd.read_csv('../Datasets/plataformas_final.csv')

In [3]:
#Observamos cada uno los nuevos DF
movies_score.head()

   userId  score movieId        date
0       1    1.0   as680  2015-03-09
1       1    4.5  ns2186  2015-03-09
2       1    5.0  hs2381  2015-03-09
3       1    5.0  ns3663  2015-03-09
4       1    5.0  as9500  2015-03-09

In [4]:
#Observamos cada uno los nuevos DF
plataformas.head()

,Unnamed: 0,id,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,platform,score
0,0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113.0,min,amazon,3.467131
1,1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,amazon,3.548682
2,2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min,amazon,3.500000
3,3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69.0,min,amazon,3.538055
4,4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min,amazon,3.478992

In [5]:
#Vamos a renombrar una columna de una manera más adecuada

plataformas = plataformas.rename(columns={'listed_in':'genre'})

plataformas.head()

,Unnamed: 0,id,show_id,type,title,director,cast,country,date_added,release_year,rating,genre,description,duration_int,duration_type,platform,score
0,0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113.0,min,amazon,3.467131
1,1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,amazon,3.548682
2,2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min,amazon,3.500000
3,3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69.0,min,amazon,3.538055
4,4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min,amazon,3.478992

In [6]:
#Corroboramos que plataformas tiene una columna "Unnamed".Procedemos a eliminarla

plataformas.drop(columns=['Unnamed: 0'], inplace=True)

Dataset de Movies

In [7]:
#Corroboro cuantos usuarios únicos

print(f"Hay {len(movies_score['userId'].unique())} usuarios unicos")

Hay 115077 usuarios unicos

In [8]:
#Corroboro los valores duplicados

print(f"Hay {movies_score.duplicated().sum()} valores duplicados")

Hay 10466 valores duplicados

In [9]:
#Los elimino y corroboro

movies_score.drop_duplicates(inplace = True)

print(f"Hay {movies_score.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

In [10]:
#Compruebo que no haya valores faltantes

movies_score.isnull().sum()

userId     0
score      0
movieId    0
date       0
dtype: int64

In [11]:
#Guardamos el dataset nuevamente

movies_score.to_csv('score_movies.csv',index = False)

Datasetde de plataformas

In [12]:
#Corroboro los valores duplicados

print(f"Hay {plataformas.duplicated().sum()} valores duplicados")

Hay 0 valores duplicados

In [13]:
#Corroboro los valores nulos

plataformas.isnull().sum().sort_values(ascending=False)

country          11499
date_added        9554
director          8259
cast              5321
duration_type      482
duration_int       479
description          4
id                   0
show_id              0
type                 0
title                0
release_year         0
rating               0
genre                0
platform             0
score                0
dtype: int64

In [14]:

for i in plataformas.columns:
    reemplazo = (plataformas[i].isnull().sum()/len(plataformas)) * 100
    reemplazo = reemplazo.round(2)
    print(f"Porcentaje de valores faltantes de la variable {i}: {reemplazo}")

Porcentaje de valores faltantes de la variable id: 0.0
Porcentaje de valores faltantes de la variable show_id: 0.0
Porcentaje de valores faltantes de la variable type: 0.0
Porcentaje de valores faltantes de la variable title: 0.0
Porcentaje de valores faltantes de la variable director: 35.91
Porcentaje de valores faltantes de la variable cast: 23.14
Porcentaje de valores faltantes de la variable country: 50.0
Porcentaje de valores faltantes de la variable date_added: 41.54
Porcentaje de valores faltantes de la variable release_year: 0.0
Porcentaje de valores faltantes de la variable rating: 0.0
Porcentaje de valores faltantes de la variable genre: 0.0
Porcentaje de valores faltantes de la variable description: 0.02
Porcentaje de valores faltantes de la variable duration_int: 2.08
Porcentaje de valores faltantes de la variable duration_type: 2.1
Porcentaje de valores faltantes de la variable platform: 0.0
Porcentaje de valores faltantes de la variable score: 0.0

In [15]:
#En consecuencia elimnamos la columna country y date_added por tener gran cantidad de faltantes. La columna 
# director no ya que puede ser una variable sensible para el estudio

plataformas.drop(columns = ['country', 'date_added'], inplace=True)

plataformas

,id,show_id,type,title,director,cast,release_year,rating,genre,description,duration_int,duration_type,platform,score
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,"comedy, drama",a small fishing village must procure a local d...,113.0,min,amazon,3.467131
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,amazon,3.548682
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min,amazon,3.500000
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",2014,g,documentary,"pink breaks the mold once again, bringing her ...",69.0,min,amazon,3.538055
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min,amazon,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158.0,min,netflix,3.438998
22994,ns8804,s8804,tv show,zombie dumb,NaN,NaN,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2.0,seasons,netflix,3.515947
22995,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,88.0,min,netflix,3.420945
22996,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",88.0,min,netflix,3.588050
22997,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111.0,min,netflix,3.529228

In [16]:
#Voy a colocar ND(No director) donde tenga los valores faltantes

plataformas.director.replace(np.nan,'ND', inplace = True)

#Verifico

plataformas.head()

,id,show_id,type,title,director,cast,release_year,rating,genre,description,duration_int,duration_type,platform,score
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,"comedy, drama",a small fishing village must procure a local d...,113.0,min,amazon,3.467131
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,amazon,3.548682
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min,amazon,3.500000
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",2014,g,documentary,"pink breaks the mold once again, bringing her ...",69.0,min,amazon,3.538055
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min,amazon,3.478992

In [17]:
#Visualizo sus valores
plataformas.duration_type.value_counts()

min        15999
season      4183
seasons     2334
Name: duration_type, dtype: int64

In [18]:
#Veo la columna "type"
plataformas.type.value_counts()

movie      16481
tv show     6517
Name: type, dtype: int64

In [19]:
#importo libreria y el modulo que voy a usar
from sklearn.impute import SimpleImputer

In [20]:
#Defino la estrategia
imputer = SimpleImputer(strategy='constant', fill_value=0)

In [21]:
#Entreno
imputer.fit(plataformas[['duration_int']])

plataformas['duration_int'] = imputer.transform(plataformas[['duration_int']])

In [22]:
#Visualizo
plataformas.isnull().sum()

id                  0
show_id             0
type                0
title               0
director            0
cast             5321
release_year        0
rating              0
genre               0
description         4
duration_int        0
duration_type     482
platform            0
score               0
dtype: int64

In [23]:
#Vamos a colocar NC donde cast tenga valores faltantes
plataformas.cast.replace(np.nan, 'NC', inplace = True)

In [24]:
#Hago lo mismo que hice con cast pero reemplazando con min
plataformas.fillna(value='min', inplace=True)

In [25]:
#Corroboramos
plataformas.isnull().sum()

id               0
show_id          0
type             0
title            0
director         0
cast             0
release_year     0
rating           0
genre            0
description      0
duration_int     0
duration_type    0
platform         0
score            0
dtype: int64

In [26]:
movies_score.head()

   userId  score movieId        date
0       1    1.0   as680  2015-03-09
1       1    4.5  ns2186  2015-03-09
2       1    5.0  hs2381  2015-03-09
3       1    5.0  ns3663  2015-03-09
4       1    5.0  as9500  2015-03-09

In [27]:
#Cambio el nombre de la columna id por movieId
plataformas = plataformas.rename(columns={'id':'movieId'})
plataformas

,movieId,show_id,type,title,director,cast,release_year,rating,genre,description,duration_int,duration_type,platform,score
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,"comedy, drama",a small fishing village must procure a local d...,113.0,min,amazon,3.467131
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,amazon,3.548682
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min,amazon,3.500000
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",2014,g,documentary,"pink breaks the mold once again, bringing her ...",69.0,min,amazon,3.538055
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min,amazon,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158.0,min,netflix,3.438998
22994,ns8804,s8804,tv show,zombie dumb,ND,NC,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2.0,seasons,netflix,3.515947
22995,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,88.0,min,netflix,3.420945
22996,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",88.0,min,netflix,3.588050
22997,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111.0,min,netflix,3.529228

In [28]:
#Vamos a guardar este último dataset con el cual se va a trabajar en el modelo DE ML

plataformas.to_csv('plataformas.csv', index = False)